* {
  margin: 0;
}

.App-header {
  display: flex;
  border-bottom: solid 5px rgb(228, 13, 13);
  align-items: center;
}

.App-header img {
  height: 300px;
  width: auto;
}

.App-header h1 {
  font-size: 3em;
  color: rgb(228, 13, 13);
}

.App-body {
  margin-left: 30px;
  margin-top: 50px;
}

.App-body p{
  font-size: 1.4em;
}

.App-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 0;
  border-top: solid 5px rgb(228, 13, 13);
}

.App-footer p {
  text-align: center;
  font-style: italic;
  font-size: 1.4em;
}