.Notifications {
    border: dashed 2px red;
    padding: 10px;
    margin: 10px;
    font-size: 1.2em;
}

[data-priority="default"] {
    color: rgb(24, 24, 135);
}

[data-priority="urgent"] {
    color: red;
}